frontend websock
    bind *:8000
    mode tcp
    timeout client 1000s
    use_backend websocket_servers if { path_beg /ws }
    default_backend login
    
backend websocket_servers
    mode tcp
    timeout server 1000s
    timeout connect 1000s 
    server s1 websocket:8081
    
backend login
    mode tcp
    timeout server 1000s
    timeout connect 1000s 
    server s3 backend:8055
